---
// adjust this variable to change your content
const aboutText =
  "The Anomalous Research Group (ARGroup) is a U.S. government-funded organization dedicated to researching and cataloging anomalous (i.e. paranormal, supernatural, or otherwise inexplicable) phenomena. We are recognized as an international innovator in the field of anomalous artifact containment and abatement."
---

<section>
  <p class="m-10 text-left text-xl">
    {aboutText}
  </p>
</section>
